h1 {
    color:#770000;
}

.header {
    background-color: #00AAFF;
    display: flex;
    justify-content: space-between;
}

.footer {
    display:flex;
    justify-content: flex-end;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #808080;
}

p,h2 {
    text-align: center;
}
